
div.about__content {

    margin: 0 auto;
   

    padding: 15px;
}


section.about {

    display: flexbox;
    margin: 0 auto;
    text-align: center;
    

   
  
}

h1 {

    text-decoration: underline solid 2px rgb(241, 255, 44);
    text-underline-offset: 30px;
    
}

h2 {

    color: rgb(255, 255, 255);
}

p {

    max-width: 600px;
    background-color: grey;
    border-bottom: 5%;
    padding: 50px;
    border-radius: 14px 14px;
    color: white;
    margin: 0 auto;

}

background image {

    background-color: red;

    width: 200px;
    height: 200px;
}


.about__image {

    background-image: url(/images/couch\ home\ decor\ yellow.png);
    width: 100px;
    height: 100px;
    background-color: rgb(111, 111, 243);
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 50px;
}


.logo {

}


h2 {
     margin-top: 100px;
    font-size: 20px;
}


.about__underline {
    
    height: 10px;
    width: 200px;
    background: linear-gradient(#bc5ce9, #ced134);
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.about__container {
  margin-top: 150px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 400px;
  background-color: #bc5ce9;
  display: flex;
  margin: 0 auto;
  background-image: linear-gradient(154deg, #7530e3 28.57%, #72419c 28.57%, #72419c 50%, #7530e3 50%, #7530e3 78.57%, #72419c 78.57%, #72419c 100%);
background-size: 31.94px 15.58px;
border-radius: 12px 12px;
margin-top: 150px;
}
